<main class="main-wrapper">
  <section class="auth-wrapper bg-pry">
    <div>
      <i class="ti ti-github auth-welcome-page-icon" style="margin-left: 2.2rem;"></i>
      <h2 class="welcome-page-title">Welcome Admin</h2>
    </div>
  </section>
  <footer class="footer-auth-pages-links bg-white">
    <a href="/users/signup">Sign up</a>
    <a href="/users/login" class="active">Login</a>
  </footer>
</main>

<!-- javaScript files -->
<script src="../public/js/main.js"></script>